/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
* { tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; background-size: contain; background-repeat: no-repeat; }
body{ font-family: "Microsoft YaHei";line-height: 1; }
input, textarea { outline: 0; resize: none; }
a{ display: block; height: 100%; text-decoration: none; }
img{ width: 100%;vertical-align: top;}
.btn img{width: 40%;}
html,body {width:100%; height:100%;margin:0;padding:0;}

/*swiper*/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    margin: 0 40px;
    box-sizing: border-box;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 55%;

}

/*loading*/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
     top: 0;
    z-index: 9999;
}
.loading img{
    width: 100%;
    height: 100%;
}
.loading-gif{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30%;
    margin-left: -25%;
}

/*index*/

.header-introduction{
 position: relative;

}
.download-theme{
    position: fixed;
    width: 100%;
    bottom: .2rem;
    text-align: center;
    z-index: 999;
}
.video{
    position: relative;
}
.video-btn{
    width: 100%;

}
.video-btn img{
    position: absolute;
    top: 4%;
    left: 50%;
    margin-left: -20%;
}
.video-play{
    padding: 0 .67rem;
    box-sizing: border-box;
}
.video-play video{
    position: absolute;
    top: 14%;
}
.video-open{
    position: absolute;
    width: 20%;
    top: 65%;
    z-index: 9;
    left: 50%;
    margin-left: -10%;
}
.banner{
    position: relative;
}
.banner-page{

    position: absolute;
    top: 20%;
}

.pther-project{
    position: relative;

}

.video-play2 video{
    position: absolute;
    top: 17%;
    right: 10%;
}
.video-play3 video{
    position: absolute;
    top: 17%;
    left: 10%;
}